body {background-color: #eae6e1;}
h1 {color:#583b1f;}
#content {
    width: 800px;
    margin: 0 auto;
}
h2{color: #6b401f;}
p{color: #6b401f;}
h1 {font-family: Georgia, 'Times New Roman', Times, serif;}
h3 {font-family: Georgia, 'Times New Roman', Times, serif;}
h3 {color: #6b401f;}