#mainpage {background-color: beige;}
body {background-color: beige;}
h1 {color: black;}
#content {
    width: 1024px;
    margin: 0 auto;
}
h2{color: black;}
p{color: black;}
h1 {font-family: Georgia, 'Times New Roman', Times, serif;}
h3 {font-family: Georgia, 'Times New Roman', Times, serif;}
h3 {color:black;}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
a{
    text-decoration: none;
}
#firstpage {
    display: flex;
    justify-content: center;
    transform: scale(2.0);
    margin-top: 15%;
}
#githubpic{
    display: flex;
    width: 245px;
    height: 1px;
    scale: 5%;
}


